/* Logo Styles */

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  gap: unset;
}

.logo--blue {
  color: var(--main-accent-color);
}

.logo--light {
  color: var(--main-light-color);
}

.logo--dark {
  color: var(--logo-font-dark);
}
